# Python bytecode / caches
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environments
.venv/

# Node modules
node_modules/
package-lock.json

# Packaging
packaging/

# Repl state
repl_state/

# CDK output
cdk.out/

# macOS
.DS_Store